[submodule "GraphAIBench"]
	path = GraphAIBench
	url = git@github.com:chenxuhao/GraphAIBench.git

[submodule "base/remote"]
	path = base/remote
	url = git@github.com:jaytlang/remote.git
[submodule "Big-ANN"]
	path = Big-ANN
	url = git@github.com:chenxuhao/Big-ANN.git
